@import "../vendor/textfield/mdc.textfield.min.css";
@import "../vendor/ripple/mdc.ripple.min.css";
@import "../vendor/button/mdc.button.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    font-family: 'Roboto', sans-serif;
    --mdc-theme-primary: #000000;
    --mdc-theme-secondary: #1c1c1c;
}

#responses > a, #calls > a {
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-flow: column;
}

.mb20 {
    margin-bottom: 20px;
}