@import "../vendor/textfield/mdc.textfield.min.css";
@import "../vendor/ripple/mdc.ripple.min.css";
@import "../vendor/button/mdc.button.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    font-family: 'Roboto', sans-serif;
    --mdc-theme-primary: #000000;
    --mdc-theme-secondary: #1c1c1c;
}

body {
    margin: auto;
    max-width: 1440px;
}

#responses > a, #calls > a {
    display: block;
    text-decoration: none;
}

.container {
    display: flex;
    height: 100vh;
}

.container.columns {
    flex-flow: row;
}

@media only screen and (max-width: 560px) {
    .container.columns {
        flex-flow: column;
    }
}

.container.columns > * {
    flex-grow: 1;
    text-align: center;
}

.container.center {
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

body.center {
    text-align: center;
}

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb0 {
    margin-bottom: 0;
}

#error {
    color: red;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(0, 0, 0, .87)
}